#vim files
*.swp
#emacs backup files
*~
#C object files
*.o
#C dependency files
*.d
#C archive files
*.a
#dc file created by program
*.dc
#tags for vi
*tags
#core file for debugging with gdb
core
#gprof output
gmon.out
#binaries
main
test
#excel garbage
*xlsx*
#xml
*xml
#zip
*zip
